[submodule "loader-util"]
	path = loader-util
	url = https://github.com/topobyte/android-loader-util.git
[submodule "common-resources"]
	path = common-resources
	url = https://github.com/topobyte/android-common-resources.git
